<div class="section">
    <div class="container">
        <p>We're a group of threatening web-dev game changers who are commoditising opportunity pipelines and reorthogonalising boost up-sell messages before getting out of bed each day.
        <br>In our team we have:
        </p>
        <p class="my-3">
            <b>Zhuo Chen:</b> Our humble software farmer
            <br><b>Dzaka Haidar Athif:</b>  Our professional software horticulturist
        </p>
        <p>
            And together we're here to ${garble}
        </p>
    </div>
</div>

<script>
    h_link.classList.remove("is-active");
    login_link.classList.remove("is-active");
    p_link.classList.remove("is-active");
    c_link.classList.remove("is-active");
    t_link.classList.remove("is-active");
    l_link.classList.remove("is-active");
    r_link.classList.remove("is-active");

    a_link.classList.add("is-active");
    
</script>