<head>
    <link rel="stylesheet" type="text/css" href="css/temp.css">
    
    <style>
      /* a:link {
        color: red;
        background-color: transparent;
        text-decoration: none;
      }
      a:visited {
        color: red;
        background-color: transparent;
        text-decoration: none;
      } */
      </style>
    </head>

<div class="column is-two-thirds">
  <body>
    <center><h1 class="title"><strong>HOME</strong></h1>
    <figure class="image">
      <img src="img/specter.jpeg" alt="Home image" height="50%">
    </figure>
    <h4><strong>Welcome to our website:)</strong></h4>
  
    <p><strong>Contact info:</strong>
    <a href="https://canvas.sydney.edu.au/courses/40112/groups">CC03_Team09</a></p>
    
  </body>
</div>
