<html>
    <body>

        <div class="column is-half">
            <div class="section">
                <p class="title has-text-primary">This username-password combination is valid, welcome ${name}!</p>
                <p class="title has-text-primary">:)</p>

                <progress class="progress is-large is-primary my-3" max="100">60%</progress>
            </div>
            
        </div>

    </body>
</html>

<script>
    h_link.classList.remove("is-active");
    p_link.classList.remove("is-active");
    c_link.classList.remove("is-active");
    a_link.classList.remove("is-active");
    t_link.classList.remove("is-active");
    l_link.classList.remove("is-active");
    r_link.classList.remove("is-active");
    
    login_link.classList.add("is-active");
    
    localStorage.setItem("hidden", "false");
    setTimeout(() => { window.location.replace("/friend"); }, 2000);
</script>
