<head>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<div class="my-6">
    <body>
        <div class="center_div">
            <h1 class="special"><strong>REGISTER</strong></h1>
            </p><p>
    
            <form action="/register" method="post" id="unique">
                username: 
                <br>
                <input class="text_input" name="username" type="text" />
                <br><br>
    
                password: 
                <br>
                <input class="text_input" name="password" type="password" />
                <br><br>
    
                <input class="login" value="REGISTER" type="submit" />
            </form>
        </div>
    
            <p>${reg_mssg}</p>
            </center>
        
    </body>
</div>

<script>
    h_link.classList.remove("is-active");
    a_link.classList.remove("is-active");
    p_link.classList.remove("is-active");
    c_link.classList.remove("is-active");
    t_link.classList.remove("is-active");
    l_link.classList.remove("is-active");
    login_link.classList.remove("is-active");

    r_link.classList.add("is-active");
</script>


