<p id="user1">may</p>
<p id="pk1"></p>
<p id="sk1"></p>
<p id="user2">dzaka</p>
<p id="pk2"></p>
<p id="sk2"></p>
<script src="js/test.js"></script>

<script>
    h_link.classList.remove("is-active");
    p_link.classList.remove("is-active");
    c_link.classList.remove("is-active");
    a_link.classList.remove("is-active");
    login_link.classList.remove("is-active");
    l_link.classList.remove("is-active");
    r_link.classList.remove("is-active");
    
    t_link.classList.add("is-active");
</script>